doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Fifteen
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        - var values = Array.from(Array(16), (_, i) => i + 1)
        .page
            h1 Игра «Пятнашки»
            .fifteen
                each val in values
                  button.item(data-matrix-id=val)
                    span.itemVal= val
            button.shuffle.btn Перемешать
        script(src="/js/index.js")
